#title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

/* increased the font size */
h1 {
    text-align: center;
    font-size: 30px; 
    font-family: sans-serif;
}


.button-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* increased size of button */
button {
    width: 200px;
    background: lightgrey;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 15px;
    margin-left: 100px;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

button:hover {
    background-color: darkred;
    color: white;
    transform: scale(1.2)
}

/* increased the gap between the two containers */
.container {
    display: flex;
    gap: 30px;
}

#maps {
    width: 700px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#maps img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
